@import url('https://fonts.googleapis.com/css?family=Mouse+Memoirs|Lato:400,400i,700,700i|Roboto:300,400,500,600,700&display=swap');

/*---------------General Styles---------------*/

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: table; /* used to position footer at bottom of short pages */
    /*background: rgba(251,226,46,.02);*/
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    /*background-color: #151515;*/
    /*color: #cccccc;*/
}

section {
    padding-top: 95px;
    margin: 0 20px;
}

h3 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
}

p {
    margin: 20px 10px;
}

/* BS OR*/
.container {
    margin: 0;
}

.footnote {
    font-size: 12px;
    margin: auto 20px;
}

/* styles for tablet */
@media (min-width: 768px) {
    section {
        padding-top: 100px;
    }

    h3 {
        font-size: 1.75rem;
    }
}

/* styles for desktop */
@media (min-width: 992px) {
    section {
        padding-top: 120px;
    }

    h3 {
        font-size: 2rem;
    }
}

/* --------------------Header Styles-------------------- */

#header-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: #0097ac;
    box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.25);
    z-index: 1050;
}

.title,
.sub-title,
.nav-text {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;

}

.title {
    font-size: 20px;
    letter-spacing: .04rem;
}
.sub-title {
    font-size: 16px;
    letter-spacing: .04rem;
    padding-top: -10px;
}

.nav-text {
    font-size: 16px;
}

/* styles for tablet */
@media (min-width: 768px) {
    #header-bg {
        height: 80px;
        box-shadow: 1px 1px 4.5px 4.5px rgba(0,0,0,0.25);
    }

    .title {
        font-size: 22px;
    }
    .sub-titlw {
        font-size: 18px;
    }

    .nav-text {
        font-size: 16px;
    }
}

/* styles for desktop */
@media (min-width: 992px) {
    #header-bg {
        height: 88px;
        box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.25);
    }

    .title {
        font-size: 24px;
    }
    .sub-title {
        font-size: 20px;
    }

    .nav-text {
        font-size: 18px;
    }
}

/* BS OR */
.navbar {
    background: #0097ac;
    z-index: 1100;
    padding: .25rem 1rem .5rem 1rem;
    max-width: 1300px;
    margin: 0 auto;
}

/*BS OR*/
a.navbar-brand {
    margin-right: 8px;
    color: black;
}

a.nav-link {
    margin-right: 4px;
    color: black;
}

a.nav-link:hover {
    /*background: rgba(251,226,46,.8);*/
    /*background: rgba(66,180,230,.5);*/
    background: rgba(255,255,255,.25);
    border-radius: 8px;
    color: #fbe22e;
}

/*BS OR*/
.navbar-toggler {
    padding: 4px;
    border: 2px solid black;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



/* --------------------Home Styles-------------------- */


/* --------------------Top 10 Styles-------------------- */
.plainList {
    list-style-type: none;
    z-index: 100;
}

div>h4 {
    padding: 8px 8px 2px;
    color: #93499e;
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 1.5rem;
}

/*#sdList {*/
    /*z-index: 10;*/
/*}*/

#sdDentist {
    margin: 20px auto 0;
    width: 300px;
    position: relative;
    overflow: hidden;
    font-weight: 600;
    border: 1px solid black;
}

#sdDentist:before {
    pointer-events: none; /* this allows the hyperlinks to be clicked */
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.1;
    background-image: url('../images/usa_flag.png');
    background-repeat: no-repeat;
    background-position: center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#tjDentist {
    margin: 20px auto 0;
    width: 300px;
    position: relative;
    overflow: hidden;
    font-weight: 600;
    border: 1px solid black;
 }

#tjDentist:before {
    pointer-events: none; /* this allows the hyperlinks to be clicked */
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.1;
    background-image: url('../images/mexico_flag.png');
    background-repeat: no-repeat;
    background-position: center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

/* styles for tablet */
@media (min-width: 768px) {
    div>h4 {
        padding: 10px 10px 3px;
        font-size: 1.75rem;
        position: relative;
    }

    #sdDentist {
        width: 450px;
    }

   #tjDentist {
       width: 450px;
    }
}

/* styles for desktop */
@media (min-width: 1025px) {
    div>h4 {
        padding: 15px 15px 5px;
        font-size: 2rem;
    }

    #sdDentist {
        width: 550px;
        position: relative;
        float: left;
    }

    #tjDentist {
        width: 550px;
        position: relative;
        float: right;
    }
}

/* --------------------Comparisons-------------------- */
.chart-container {
    margin-left: 50px;
}


/* --------------------Maps-------------------- */
/* MUST have this in order for map to display! */
div#sdMap {
    min-height: 400px;
    width: 300px;
    margin: 10px auto;
    border: 1px solid black;
}

div#tjMap {
    min-height: 400px;
    width: 300px;
    border: 1px solid black;
}

.map-container {
    margin: 20px 0;
}

/* styles for tablet */
@media (min-width: 768px) {
    div#sdMap {
        min-height: 500px;
        /*margin: auto;*/
        width: 550px;
    }

    div#tjMap {
        min-height: 500px;
        /*margin: auto;*/
        width: 550px;
    }

    .map-container {
        width: 590px;
        /*margin: 20px auto;*/
        /*align-self: center;*/
        /*align-content: center;*/
    }
}

/* styles for desktop */
@media (min-width: 1025px) {
    div#sdMap {
        min-height: 500px;
        margin: auto;
        width: 530px;
    }

    div#tjMap {
        min-height: 500px;
        margin: auto;
        width: 530px;
    }

    .sdMap-container {
        margin: 20px auto 0;
        width: 550px;
        position: relative;
        float: left;
        /*margin-right: auto*/
        /*text-align: center;*/
        /*padding: 0 20px;*/
    }

    .tjMap-container {
        margin: 20px auto 0;
        width: 550px;
        position: relative;
        float: right;
        /*margin-left: auto;*/
        /*text-align: center;*/
        /*padding: 0 20px;*/
    }
}

